$body : linear-gradient(to bottom, #e6dada, #274046);
$navigation : #4b6cb7;


// FONTS
$oswald : 'Oswald',
sans-serif;
$Narrow : 'PT Sans Narrow',
sans-serif;
$Teko : 'Teko',
sans-serif;
$Lobo : 'Lobster',
cursive;