/*--
	Author: Zayn
	Author URL: https: //github.com/Venom-s
  Date: 24:12:2019
--*/
html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
  display: -webkit-flex;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
input,
select {
  -webkit-appearance: none;
  outline: none;
}

button,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  color: #485460;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

.btn,
button,
.actionbg {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
}

.btn:hover,
button:hover {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
}

/*--/wrapper--*/
.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.wrapper-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*--//wrapper--*/
.coming-61-w3l-vv-mian {
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  height: 100vh;
  z-index: 0;
  position: relative;
  display: grid;
  align-items: center;
}

.coming-61-w3l-vv-mian:before {
  content: "";
  background: rgba(0, 7, 14, 0.82);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.coming-61-w3l-vv-info {
  margin: 0 auto;
  text-align: center;
}

.coming-61-w3l-vv-top {
  display: grid;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.coming-61-w3l-vv-mian h6 {
  font-size: 20px;
  line-height: 25px;
  color: #1e272e;
  margin-bottom: 25px;
  text-align: left;
}

.coming-61-w3l-vv-mian h1 {
  font-size: 62px;
  line-height: 75px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.coming-61-w3l-vv-mian p {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-weight: 100;
}

.social-coming-icons a {
  background: transparent;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  text-align: center;
  display: inline-block;
  margin-right: 12px;
  border: 2px solid #fff;
}

.social-coming-icons a span {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
}

.social-coming-icons a span:hover {
  color: #0fbcf9;
}

.social-coming-soon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 75%;
  bottom: 20px;
}

.social-coming-icons {
  text-align: right;
}

.copy-footer {
  letter-spacing: 1px;
}

.copy-footer a {
  color: #fff;
  text-decoration: none;
}

ul.counter-inner li {
  display: inline-block;
  font-size: 12px;
  list-style-type: none;
  text-transform: uppercase;
  color: #fff;
  width: 20%;
  text-align: left;
}

ul.counter-inner li span {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

.coming-form {
  width: 79%;
  margin: 30px auto 0;
}

.coming-form input {
  color: #888;
  font-size: 14px;
  border: none;
  outline: none;
  display: block;
  padding: 0.7em 1em;
  background: #fff;
  border-radius: 0px;
  width: 70%;
}

.coming-form button {
  color: #1e272e;
  background: #0fbcf9;
  border: none;
  padding: 0.7em 1em;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  display: block;
  border-radius: 0px;
}

.coming-form button:hover {
  background: #109fd2;
}

@media (max-width: 1280px) {
  .coming-61-w3l-vv-top {
    display: grid;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }

  .coming-61-w3l-vv-mian p {
    font-size: 15px;
  }
}

@media (max-width: 1080px) {
  .social-coming-soon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    bottom: 20px;
  }
}

@media (max-width: 992px) {
  .social-coming-soon {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    text-align: center;
    position: static;
    margin-top: 40px;
  }

  .social-coming-icons,
  p.copy-footer {
    text-align: center;
  }

  .social-coming-icons {
    margin-top: 15px;
  }
}

@media (max-width: 900px) {
  .coming-61-w3l-vv-mian h1 {
    font-size: 50px;
    line-height: 75px;
  }

  .coming-form {
    width: 86%;
    margin: 30px auto 0;
  }

  ul.counter-inner li {
    font-size: 12px;
    width: 22%;
  }
}

@media (max-width: 769px) {
  .coming-61-w3l-vv-top {
    width: 90%;
  }

  .social-coming-icons {
    text-align: center;
    margin-top: 25px;
  }

  .coming-61-w3l-vv-mian h1 {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 667px) {
  .coming-61-w3l-vv-top {
    width: 90%;
  }

  .social-coming-icons {
    text-align: center;
    margin-top: 25px;
  }

  .coming-61-w3l-vv-mian h1 {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 600px) {
  .coming-61-w3l-vv-top {
    width: 100%;
  }

  .coming-61-w3l-vv-mian h1 {
    font-size: 40px;
    line-height: 54px;
  }

  ul.counter-inner li span {
    font-size: 35px;
  }

  .coming-form {
    width: 100%;
    margin: 30px auto 0;
  }

  .coming-form {
    width: 100%;
    margin: 30px auto 0;
    display: block;
  }

  .coming-form input {
    padding: 0.7em 1em;
    width: 100%;
  }

  .coming-form button {
    font-size: 16px;
    width: 100%;
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 568px) {
  .coming-61-w3l-vv-mian h1 {
    font-size: 35px;
    line-height: 51px;
  }

  ul.counter-inner li {
    font-size: 10px;
    width: 24%;
  }

  ul.counter-inner li span {
    font-size: 25px;
  }
}

@media (max-width: 420px) {
  .coming-61-w3l-vv-mian h1 {
    font-size: 30px;
    line-height: 52px;
  }
}

@media (max-width: 384px) {
}

/*Loader*/

@charset "UTF-8";

div.preloader {
  height: 100vh;
  width: 100vw;

  /* center anything */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background: #727577;
}

.preloader.hidden {
  z-index: 0;
}

div.preloader-color {
  position: absolute;
  border-radius: 50%;
}

div.preloader-first {
  /* change here when you're using another animation */
  animation: spin 1s linear infinite;
  height: 150px;
  width: 150px;

  border: 4px #000 solid;
  border-top: 4px #727577 solid;
  border-left: 4px #727577 solid;
}

div.preloader-second {
  /* change here when you're using another animation */
  animation: spin 1.4s linear infinite;

  height: 130px;
  width: 130px;

  border: 4px #727577 solid;
  border-top: 4px #c62828 solid;
  border-left: 4px #c62828 solid;
}

div.preloader-third {
  /* change here when you're using another animation */
  animation: spin 1.7s linear infinite;

  height: 110px;
  width: 110px;

  border: 4px #000 solid;
  border-bottom: 4px #727577 solid;
}

/* animation to make the preloader rotate */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* change animation name at line

  48
  36
  25
  
*/

@keyframes spinBackwards {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

* {
  transition: all 100ms ease-in-out;
}
